<div class="row py-2">
  <div class="col titulo">
    Cadastrar Agenda
  </div>
</div>

<form [formGroup]="agendaForm" (ngSubmit)="onSubmit()">
  <div class="row align-items-center py-3">

    <div class="col-md-3">
      <label for="data" class="label">Data</label>
      <input placeholder="dd/mm/aaaa" id="data" class="form-control" formControlName="data" bsDatepicker
        #dp="bsDatepicker" autocomplete="off" ondrop="return false;" required>
      <span class="text-secondary text-danger" *ngIf="data?.touched && data?.invalid">Campo obrigatório</span>
    </div>

    <div class="col-4" *ngIf="data?.value">
      <label>Horários</label>
      <ng-select [multiple]="true" [items]="horarioList" bindLabel="descricao" bindValue="id"
        (change)="addDataHorario(this.data?.value, $event)">
      </ng-select>
    </div>

    <div class="col pt-4">
      <button class="btn btn-warning me-2"><i class="fa fa-sign-in"></i> Limpar</button>
      <button type="submit" [disabled]="agendaForm.invalid" class="btn btn-success"><i class="fa fa-sign-in"></i>
        Criar</button>
    </div>
  </div>
</form>

<div class="row py-2">
  <div class="col titulo">
    Minha Agenda
  </div>
</div>

<div class="row mb-2" *ngFor="let item of agendaList">
  <div class="col-2 card-data align-content-center">
    <ul class="list-group list-group-horizontal position-relative">
      <li class="list-group-item">{{item.data}}</li>
      <li class="list-group-item"><i class="col fas fa-edit"></i></li>
    </ul>
  </div>

  <div class="col">
    <ul class="list-group list-group-horizontal position-relative overflow-auto w-75">
      <li *ngFor="let hora of item.hora" class="list-group-item">{{hora.descricao}}</li>
    </ul>
  </div>
</div>
