<div class="row justify-content-center p-4 mb-4">
  <div class="col-4">
    <form [formGroup]="criarContaForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col text-center">
          <img src="assets/img/logo.jpg" alt="" width="250px">
        </div>
      </div>

      <div class="row text-center p-3">
        <label class="label" id="tipo-perfil">Selecione o tipo de usuário<small class="text-danger" *ngIf="tipoPerfil?.invalid">&nbsp;*</small> </label>
        <div>
          <label for="medico" class="label">Médico&nbsp;</label>
          <input id="medico" type="radio" [value]="enumTipoPerfil.Medico" [formControl]="tipoPerfil" (change)="changeTipoPerfil()"/>
          <label for="paciente" class="label">Paciente&nbsp;</label>
          <input id="paciente" type="radio" [value]="enumTipoPerfil.Paciente" [formControl]="tipoPerfil" (change)="changeTipoPerfil()"/>
        </div>
      </div>

      <div class="row">
        <mat-form-field class="col">
            <mat-label>Nome</mat-label>
            <input [ngClass]="nome?.disabled? 'disabled-field' : null" matInput formControlName="nome" id="nome"/>
            <mat-error *ngIf="nome?.invalid">
              Campo Obrigatório
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" id="cpf" [ngClass]="cpf?.disabled? 'disabled-field' : null" mask="000.000.000-00" placeholder="000.000.000-00"/>
            <mat-error *ngIf="cpf?.touched && !cpf?.value">
              Campo Obrigatório
            </mat-error>
            <mat-error *ngIf="cpf?.value && cpf?.invalid">
              Campo Inválido
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row" *ngIf="this.tipoPerfil?.value == enumTipoPerfil.Medico">
        <mat-form-field class="col">
            <mat-label>CRM</mat-label>
            <input matInput formControlName="crm" id="crm" [ngClass]="this.crm?.disabled? 'disabled-field' : null" mask="00000/SS" placeholder="00000/UF"/>
            <mat-error *ngIf="this.criarContaForm.get('crm')?.invalid">
              Campo Obrigatório
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row" *ngIf="this.tipoPerfil?.value == enumTipoPerfil.Medico">
        <mat-form-field class="col">
          <mat-label>Especialidade</mat-label>
          <mat-select formControlName="idEspecialidade">
              <mat-option *ngFor="let item of especialidadeList" [value]="item.id">{{item.descricao}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.idEspecialidade?.invalid">
            Campo Obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      

      <div class="row">
        <mat-form-field class="col">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" id="email" [ngClass]="email?.disabled? 'disabled-field' : null" placeholder="abc@exemplo.com"/>
            <mat-error *ngIf="email?.value && email?.invalid && email?.value.length > 0">
              E-mail inválido
            </mat-error>
            <mat-error *ngIf="email?.touched && !email?.value">
              Campo Obrigatório
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" minlength="8" maxlength="50" id="senha" [ngClass]="senha?.disabled? 'disabled-field' : null" placeholder="Mínimo de 8 caracteres"/>
            <mat-error *ngIf="senha?.touched && !senha?.value">
              Campo Obrigatório
            </mat-error>
            <mat-error *ngIf="senha?.touched && senha?.value && senha?.value.length < 8">
              Mínimo de 8 caracteres
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row align-items-center mt-3">
        <div class="col text-start">
          <button class="btn btn-danger" (click)="cancelar()"><i class="fa fa-sign-in"></i> Cancelar</button>
        </div>
        <div class="col text-end">
          <button type="submit" [disabled]="this.criarContaForm.invalid" class="btn btn-success"><i class="fa fa-sign-in"></i> Enviar</button>
        </div>
      </div>
    </form>

  </div>
</div>
